# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 576a3155ac548d472d97869897d218ae2fb581b067e410d4176e50f3d6b8323e0020714ecbf76fd8156e3448b5fcb510a0e57909fffe02662a482e54bf43e9d4

test:
  secret_key_base: 6625ff621b1a96dac6f22c2690a1ae0bfa303e11e3010a35ab47f9201d23a0e0e03a0e2e1eb1dcaa3ab9e07cc9b4468afe2c5635672eb8c235aa9cc7194851e0

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
